{% extends 'parent/base.html'%}
{% load blog_tags %}
{% block title %}index{% endblock %}
{% block content %}
<h1>my home page</h1>
<div>
  <a href="{% url 'blog:post_list' %}">لیست پست‌ها</a>

</div>

<p>تعداد پست ها: {% tp %}</p>
<p>تعداد کامنت ها:{%  tc%}</p>
<p>تاریخ انتشار آخرین پست : </p>
<br>
<p>{% last_post_date %}</p>
<br>
 {% max_reading_post as mp %}
{% if mp %}
<p>بیشترین زمان مطالعه برای پست :</p>
<p><a href="{{ mp.get_absolute_url }}">{{mp.title}}: {{mp.reading_time}}دقیقه</a></p>
{% else %}
<p>هیچ پستی وجود ندارد</p>
{% endif %}
{% min_reading_post as mr %}
{% if mr %}
<p>کمترین زمان مطالعه برای پست :</p>
<p><a href="{{ mr.get_absolute_url }}">{{mr.title}}: {{mr.reading_time}}دقیقه</a></p>
{% else %}
<p>هیچ پستی وجود ندارد</p>
{% endif %}
<p>{% latest_posts %}</p>
<p>{% show_active_users %}</p>
<h4>محبوب ترین پست ها:</h4>
{% popular_posts as pop_post %}
{% for post in pop_post %}
<a href="{{ post.get_absolute_url }}">{{post.title}} with {{post.comment_count}}</a>
<br>
{% endfor %}
{% endblock %}
