{% extends 'parent/base.html' %}
{% block title %}لیست{% endblock %}
{% block content %}

{% if category %}
<h1><a href="{% url 'blog:post_list_category' %}"> لیست پست‌های {{ category }}</a></h1>
{% else %}
<div>
    <a href="{% url 'blog:post_list' %}">لیست پست‌ها</a>
</div>
{% endif %}

<ol class="post-list" style="--length: {{posts|length}}" role="list">
    {% for post in posts %}
    <li style="--i: {{ forloop.counter }}" class="post-item">

        {% if post.images.count > 0 %}
        <img src="{{post.images.first.image_file.url}}" alt="{{post.images.first.title}}" class="post-image">
        {% endif %}
        <br>
        <a href="#" class="badge text-bg-danger mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>
            {{ post.category }}</a>
        <br>
        <br>
        <h3 class="post-title">
            <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
        </h3>
        <p>{{ post.description|truncatewords:2 }}</p>
    </>
    {% endfor %}
</ol>

<div class="category-section">
    <h4>دسته‌بندی</h4>

    <div class="category-item">
        <a href="{% url 'blog:post_list_category' 'تکنولوژِی' %}">تکنولوژِی</a>
    </div>
    <div class="category-item">
        <a href="{% url 'blog:post_list_category' 'هوش مصنوعی' %}">هوش مصنوعی</a>
    </div>
    <div class="category-item">
        <a href="{% url 'blog:post_list_category' 'زبان برنامه نویسی' %}">زبان برنامه نویسی</a>
    </div>
    <div class="category-item">
        <a href="{% url 'blog:post_list_category' 'بلاکچین' %}">بلاکچین</a>
    </div>
    <div class="category-item">
        <a href="{% url 'blog:post_list_category' 'سایر' %}">سایر</a>
    </div>

    <div class="view-all">
        <a href="{% url 'blog:post_list' %}"><u>مشاهده همه</u></a>
    </div>
</div>

{% include "partials/paginations.html" with page_obj=posts %}
{% endblock %}